# Exclude Python virtual environment directories
erpenv/

# Exclude log files
*.log

# Exclude IDE configurations
.vscode/
.VSCodeCounter/

# Exclude Python bytecode and cache files
__pycache__/
*.pyc

# Exclude sensitive or environment-specific files

dist/
templates/
static/

app.spec

.env/
config.py
build/app/Analysis-00.toc
build/app/app.pkg
build/app/EXE-00.toc
build/app/PKG-00.toc
build/app/PYZ-00.pyz
build/app/PYZ-00.toc
build/app/warn-app.txt
build/app/xref-app.html
build/app/Analysis-00.toc
build/app/app.pkg
build/app/EXE-00.toc
build/app/PKG-00.toc
build/app/PYZ-00.pyz
build/app/PYZ-00.toc
build/app/warn-app.txt
build/app/xref-app.html
config.py
