# Exclude Python virtual environment directories
erpenv/

# Exclude log files
*.log

# Exclude IDE configurations
.vscode/
.VSCodeCounter/

# Exclude Python bytecode and cache files
__pycache__/
*.pyc

# Exclude sensitive or environment-specific files
config.py
